<mat-drawer-container id="drawer-container">
  <mat-drawer mode="side" opened id="drawer">
    <div>
      <button mat-button class="open-dialog-btn" (click)="openDialog()" title="ADD MAP">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
 
      <mat-selection-list
        #maps
        (selectionChange)="onSelectionChange($event)"
        [multiple]="false"
      >
        <mat-list-option *ngFor="let map of Maps" [value]="map">
          <mat-icon matListIcon>map</mat-icon>
          {{ map.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-drawer>
  <mat-drawer-content id="drawer-content">
    <div [hidden]="!SelectedMap">
      <mat-card>
        <mat-card-title>{{ SelectedMap?.name }}</mat-card-title>
        <mat-card-content>
          <img class="selected-map-content" src="{{ SelectedMap?.content }}" />
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Set as mission map</button>
          <button mat-button>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
