:host {
  overflow: hidden !important;
}

.spacer {
  flex: 1 1 auto;
}

#drawer-container {
  height: 100%;
  width: 100%;
  bottom: 0;
}

#drawer {
  min-width: 20%;
  height: 100%;
}

#open-dialog-btn {
  padding-left: 16px;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.list-item-name {
  display: flex;
  align-items: center;
}

.list-item-is-mission {
  padding: 4px;
}

#map-content {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  display: block;
}
