#upload-button {
  top: 7px;
  margin: 0 auto;
  display: block;
}

#drawer-container {
  height: 100%;
  width: 100%;
  bottom: 0;
}

#drawer {
  min-width: 35%;
  height: 100%;
}

.selected-map-content {
  width: 50%;
  height: 50%;
}
