<div id="topFrame" style="display: flex; flex-direction: row" > 
    <form [formGroup]="mapEntityForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-form-field appearance="fill">
                <mat-label>Entity Name</mat-label>
                <input matInput formControlName="name" type="text">
            </mat-form-field> 
            <mat-form-field appearance="fill">
                <mat-label>X</mat-label>
                <input matInput formControlName="x">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Y</mat-label>
                <input matInput formControlName="y">
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">Submit</button>    
            </div>
        </mat-card>
    </form>    
    <!-- <canvas #canvas> </canvas>         -->
    <div id="container">
        <img id ="mapEntity" [src]="entityImageSrc">
        <img id="mapImg" [src]="map.content" (click)="onClick($event)">
    </div>
</div>    