<input type="file" class="file-input" (change)="onFileSelected($event)" #fileSelect>

<form [formGroup]="userForm" (ngSubmit)="fileUpload()">
  <h1 mat-dialog-title>MAP UPLOADER</h1>
  <div mat-dialog-content class="from-group file-upload">
    <input matInput placeholder="MAP FILE NAME" formControlName="{{Map2Upload.name}}" id="{{Map2Upload.name}}" [value]="Map2Upload.name" (input)="selectionChamged($event)">
    <button mat-button color="primary" class="file-select-btn" (click)="fileSelect.click()" title="SELECT MAP">
      <mat-icon>attach_file</mat-icon>
    </button>
    <button type="submit" mat-raised-button class="upload-btn" color="primary" title="UPLLOAD MAP">
      <!-- [disabled]="!userForm.valid"> -->
      <mat-icon>file_upload</mat-icon>
      Upload
    </button>
    
    <form-errors [form]="userForm" [errorMsgs]="errorMessages"></form-errors>
  </div>
</form>